@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
  --base-color: white;
  --main-color: #015761;
  --accent-color: #f7dc4f;
  --second-bg-color: #f2f2f2;
  --text-color: #202020;
}

* {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 69.5px;
}

body {
  margin: 0;
  padding-top: 69.5px;
  background-color: var(--base-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

*[class$='wrapper'] {
  max-width: 1080px;
  margin: 0 auto;
  padding: 1rem;
}

h1,
h2,
h3 {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--base-color);
}

ul {
  list-style-type: none;
  padding: 0;
  align-items: center;
}

blockquote {
  font-style: italic;
}

.mobile-hidden {
  display: none;
}

.mobile-tablet-hidden {
  display: none;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.portrait {
  width: 100%;
  max-width: 450px;
  border-radius: 50%;
  margin: 1rem 0;
}

/* Button */
.button-primary {
  padding: 0.5rem;
  background-color: var(--accent-color);
  color: var(--main-color);
  font-size: 0.875rem;
  transition: 0.3s;
}

.button-primary:hover {
  background-color: var(--main-color);
  color: var(--accent-color);
  transition: 0.3s;
}

.icon-button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.icon-button:hover {
  color: var(--accent-color);
  transition: 0.3s;
}

/* Tag */
.tag {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  color: var(--main-color);
}

.tag li {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--main-color);
  border-radius: 4px;
}

/* Header */
header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
  background-color: var(--main-color);
  color: var(--accent-color);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

nav li {
  display: inline-block;
  margin-right: 1rem;
  letter-spacing: 0.05rem;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  transition: 0.3s;
}

nav a:hover {
  color: var(--accent-color);
  transition: 0.3s;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.3s;
}

#menu-close-button {
  position: relative;
  z-index: 3;
}

.hidden-button {
  display: none;
}

.shown-menu {
  position: fixed;
  top: 69.5px;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  z-index: 3;
  width: 100vw;
}

.shown-menu li {
  font-size: 2rem;
  margin: 1rem 0;
}

/* introduction */
.intro-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro p {
  line-height: normal;
}

.intro-para {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting,
.name,
.jobtitle {
  margin: 0.5rem 0;
  font-weight: 700;
}

.greeting {
  color: var(--main-color);
  font-size: 2rem;
}

.name {
  font-size: 3rem;
}

.jobtitle {
  margin: 1rem 0;
}

/* about me */
#about {
  background-color: var(--second-bg-color);
}

.about-wrapper {
  padding: 1rem;
}

.about-wrapper p {
  text-align: center;
}

#bio a {
  color: var(--main-color);
  text-decoration: underline;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.history h3 {
  text-align: center;
  width: 100%;
  border-bottom: 1.5px solid var(--main-color);
}

.history h3 span {
  position: relative;
  top: 0.75rem;
  background-color: var(--second-bg-color);
}

.org {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.org p {
  margin: 0;
}

/* works */
.card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  max-width: 450px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-flow: column;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.card-wrapper {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0.5rem;
}

.card-img {
  display: block;
  width: 100%;
}

.card h3,
.card p,
.card ul {
  margin: 0;
}

.card-title {
  font-size: 1.5rem;
}

.card-action {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-action ul {
  display: flex;
  column-gap: 1rem;
}

.card-action ul a {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.25rem;
  transition: 0.3s;
}

.card-action ul a:hover {
  color: var(--main-color);
  transition: 0.3s;
}

/* skills, interests */
.icon-list-section ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 100%;
}

.icon-list-section li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* footer */
footer {
  background-color: var(--main-color);
  color: var(--base-color);
}

.footer-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

footer h2 {
  color: var(--accent-color);
  margin: 1rem 0;
}

footer li {
  letter-spacing: 0.05rem;
}

footer a {
  transition: 0.3s;
}

footer a:hover {
  color: var(--accent-color);
  transition: 0.3s;
}

footer .portrait {
  float: left;
  max-width: 300px;
}

#contact,
.contact-basic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-basic {
  margin: 0;
}

.contact-basic li {
  margin: 0.5rem 0;
}

.contact-social li {
  display: inline-block;
  margin: 0 0.5rem;
}

@media screen and (min-width: 600px) {
  * [class$='wrapper'] {
    padding: 1rem 2rem;
  }

  h2 {
    text-align: start;
  }

  .mobile-hidden {
    display: initial;
  }

  .tablet-pc-hidden {
    display: none;
  }

  /* header */
  .header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }

  /* introduction */
  .intro-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center;
  }

  #intro .portrait {
    order: 1;
  }

  .intro-para {
    flex-direction: column;
    align-items: flex-start;
  }

  .greeting {
    font-size: 2.5rem;
  }

  .name {
    font-size: 3.75rem;
  }

  /* about me */
  .about-wrapper p {
    text-align: start;
  }

  .history {
    align-items: flex-start;
    width: 100%;
  }

  .history h3 {
    text-align: start;
  }

  .org {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0;
    align-items: start;
  }

  .duration {
    font-weight: 700;
    justify-self: end;
    text-align: end;
    letter-spacing: 0.05rem;
  }

  /* works */
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: none;
  }

  .card-wrapper {
    padding: 1rem;
  }

  /* skills */
  .icon-list-section ul {
    grid-template-columns: repeat(6, 1fr);
  }

  /* footer */
  .footer-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }

  footer h2 {
    text-align: right;
  }

  #contact,
  .contact-basic {
    align-items: flex-end;
  }

  .contact-social li {
    margin: 0 0 0 1rem;
  }
}

@media screen and (min-width: 960px) {
  * [class$='wrapper'] {
    padding: 1rem 3rem;
  }

  .mobile-tablet-hidden {
    display: initial;
  }

  .pc-hidden {
    display: none;
  }

  .header-wrapper {
    padding: 0 3rem;
  }

  .greeting {
    font-size: 3.5rem;
  }

  .name {
    font-size: 5.25rem;
  }

  .icon-list-section ul {
    grid-template-columns: repeat(8, 1fr);
  }

  /* works */
  .card-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .card-wrapper {
    padding: 1rem;
  }
}
