h1 a {
  color: var(--accent-color);
}

h2 {
  text-align: inherit;
  margin-bottom: 0rem;
}

h3 {
  font-size: 1.25rem;
}

.hero-image {
  height: calc(50vh - 69.5px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#portfolio .hero-image {
  background-image: url('../images/e-portfolio.jpg');
}

#trip-planner .hero-image {
  background-image: url('../images/trip-planner.jpg');
}

.meta {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.link {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  font-size: 1.5rem;
}

.link a {
  color: rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.link a:hover {
  color: var(--main-color);
  transition: 0.3s;
}

@media screen and (min-width: 600px) {
  .external-link ul {
    justify-content: flex-end;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 960px) {
  .hero-image {
    height: calc(100vh - 69.5px);
  }

  #portfolio .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../images/e-portfolio.jpg');
  }

  #trip-planner .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../images/trip-planner.jpg');
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero-text h2 {
    text-align: center;
    color: white;
    font-size: 8rem;
    white-space: nowrap;
  }

  .hero-text p {
    text-align: center;
    color: white;
    font-size: 3rem;
  }

  .hero-link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 3rem;
  }

  .hero-link li {
    margin: 0 1rem;
    font-size: 2rem;
  }

  .hero-link a {
    transition: 0.3s;
  }

  .hero-link a:hover {
    color: var(--accent-color);
    transition: 0.3s;
  }

  .tags {
    justify-content: center;
  }

  .tags li {
    border-color: var(--accent-color);
    color: var(--accent-color);
    font-size: 1.5rem;
  }
}
