h1 a {
  color: var(--accent-color);
}

h2 {
  text-align: inherit;
  margin-bottom: 0rem;
}

h3 {
  font-size: 1.25rem;
}

.hero-image {
  background-image: url('../images/e-portfolio.jpg');
  height: calc(50vh - 69.5px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.wrapper {
  padding-top: 0;
}

.external-link ul {
  display: flex;
  justify-content: flex-end;
  font-size: 1.25rem;
}

.external-link li {
  margin: 0 1rem;
}

.external-link a {
  color: rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.external-link ul a:hover {
  color: var(--main-color);
  transition: 0.3s;
}

@media screen and (min-width: 600px) {
  .external-link ul {
    justify-content: flex-end;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 960px) {
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../images/e-portfolio.jpg');
    height: calc(100vh - 69.5px);
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero-text h2 {
    text-align: center;
    color: var(--accent-color);
    font-size: 8rem;
    white-space: nowrap;
  }

  .hero-text p {
    text-align: center;
    color: white;
    font-size: 3rem;
  }

  .external-link ul {
    font-size: 2rem;
  }
}
